* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #111;
  line-height: 1.45;
  display: flex;
  flex-direction: column;
}
@media (min-width: 0) {
  body {
    font-size: 17px;
  }
}
@media (min-width: 640px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 17px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 20px;
  }
}
header {
  flex-shrink: 0;
  line-height: 2;
}
@media (min-width: 1024px) {
  header {
    line-height: 3;
  }
}
header .siteName {
  font-family: Audiowide;
  font-weight: normal;
  font-size: 40px;
  background: #111;
  color: #e0e0e0;
  text-align: center;
  margin: 0;
}
header .menu-top {
  flex: 1;
  background: linear-gradient(#ffffff, #f1f1f1);
  display: flex;
  justify-content: center;
}
header .menu-top .btn {
  flex: 1;
  border: 1px solid #444;
  box-shadow: 3px 4px 6px #666;
  max-width: 1024px;
}
header a {
  color: #e0e0e0;
}
button {
  cursor: pointer;
}
#pasteText {
  flex: 1;
}
.columns {
  flex: 1;
  background: #f1f1f1;
  overflow-y: auto;
  min-height: 270px;
}
.instructions {
  margin: 3rem auto;
}
@media (min-width: 0) {
  .instructions {
    border-spacing: 1rem;
  }
  .instructions td {
    display: inline-block;
  }
}
@media (min-width: 480px) {
  .instructions {
    border-spacing: 0;
  }
  .instructions td {
    display: table-cell;
  }
}
.instructions td {
  padding: 0.25rem;
}
.instructions kbd {
  display: block;
  padding: 1px 0.5rem;
  text-align: center;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  font: inherit;
}
.instructions kbd.disabled {
  color: #999;
}
.instructions .kbd-go {
  background-color: seagreen;
  color: #fff;
}
@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row-reverse;
  }
  header .siteName {
    width: 340px;
  }
  .columns {
    display: flex;
  }
  .views {
    flex-shrink: 0;
    height: 100%;
    overflow-y: initial;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .columns {
    border: 10px solid #111;
    border-right: none;
  }
}
@media (min-width: 1024px) and (min-width: 1280px) {
  .columns {
    border-width: 20px;
    border-right: none;
  }
}
.views {
  flex: 1;
  overflow-y: auto;
  min-height: 100%;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  flex-shrink: 0;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 0) {
  .sidebar {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    width: 340px;
  }
}
.sidebar .sidebarContent {
  padding: 20px;
}
.sidebar .control {
  margin-bottom: 2rem;
}
.sidebar .control input[type=range] {
  width: 100%;
  margin: 5px 0;
}
body.toneOn body,
body.toneOn .siteName {
  background-color: #336;
}
body.toneOn .columns {
  border-color: #336;
}
body.toneOn .sidebar {
  background: #336;
}
.view {
  position: relative;
  flex: 1;
  min-height: 100%;
  width: 100%;
  background: #f1f1f1;
}
@media (min-width: 0) {
  .view {
    padding: 0;
  }
}
@media (min-width: 480px) {
  .view {
    padding: 1rem;
  }
}
.view article {
  margin: auto;
  flex: 1;
}
@media (min-width: 0) {
  .view article {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .view article {
    width: 640px;
  }
}
@media (min-width: 1280px) {
  .view article {
    width: 768px;
  }
}
.view.disabled {
  display: none !important;
}
.view.paste {
  display: flex;
  flex-direction: column;
}
.view.paste article {
  display: flex;
  flex-direction: column;
}
.view.stories .story {
  margin-bottom: 1rem;
}
.view.stories .story .author {
  font-weight: bold;
}
.view.stories .story .title {
  margin-left: 1rem;
}
.view.playing {
  display: flex;
  flex-direction: column;
}
.view.playing article {
  display: flex;
  flex-direction: column;
}
.letter {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
}
@media (min-width: 0) {
  .letter {
    font-size: 50px;
  }
}
@media (min-width: 640px) {
  .letter {
    font-size: 100px;
  }
}
@media (min-width: 769px) {
  .letter {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .letter {
    font-size: 100px;
  }
}
@media (min-width: 1600px) {
  .letter {
    font-size: 150px;
  }
}
.controls {
  flex-shrink: 0;
  display: flex;
  background: linear-gradient(#f1f1f1, #999);
}
@media (min-width: 0) {
  .controls {
    padding: 0;
  }
}
@media (min-width: 480px) {
  .controls {
    padding: 0 0.5rem;
  }
}
@media (min-width: 1024px) {
  .controls {
    padding: 0.5rem;
  }
}
.controls .btn {
  flex: 1;
  font-weight: bold;
}
.menu-top.controls .btn {
  margin: 1rem;
  font-size: 1.8rem;
}
nav.controls .btn {
  margin: 0.5rem;
}
@media (min-width: 0) {
  nav.controls .btn {
    padding: 0.25rem;
    font-size: 1rem;
  }
}
@media (min-width: 640px) {
  nav.controls .btn {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  nav.controls .btn {
    padding: 0.5rem;
    font-size: 1.4rem;
  }
}
.btn {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: #111;
}
.btn:hover {
  background-color: #f1f1f1;
  box-shadow: 1px 1px 5px #444;
}
.btn-start {
  background-color: seagreen;
  color: #fff;
}
.btn-start:hover {
  background-color: seagreen;
}
.btn-pause {
  background-color: #328ab5;
  color: #fff;
}
.btn-pause:hover {
  background: #51a5ce;
}
.btn-stop {
  background-color: darkred;
  color: #fff;
}
.btn-stop:hover {
  background-color: #dc1414;
}
.home article h1 {
  margin: 2rem 0 0 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
}
.btn[disabled] {
  color: #999;
  display: none;
}
hr {
  border-color: #f00;
  border-width: 2px;
  margin: 1rem 0;
}
.btn-fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border: 0;
  margin: 0.5rem;
  padding: 0;
  width: 80px;
  height: 45px;
  background-position-y: 45px;
  background-color: #a0a0a0;
  background-image: url(/img/fullscreen.png);
}
.btn-fullscreen:hover {
  background-position-y: 0;
  background-color: #fff;
}
.btn-fullscreen.disabled {
  display: none;
}
.outputBuffer {
  font-family: monospace;
  background: #fff;
  color: #153;
  flex: 1;
  overflow-wrap: break-word;
  overflow-y: hidden;
  padding: 0.5rem 1rem;
  white-space: pre-wrap;
  font-size: 1.8rem;
  letter-spacing: 3px;
  max-height: 250px;
}
.options table {
  width: 100%;
  margin: auto;
  border-spacing: 1rem;
}
@media (min-width: 0) {
  .options table th,
  .options table td {
    display: inline-block;
  }
}
@media (min-width: 480px) {
  .options table th,
  .options table td {
    display: table-cell;
  }
}
.options table th {
  text-align: right;
}
.options table td {
  padding: 0.5rem 0.5rem;
  border-left: 5px solid #e0e0e0;
}
.options table td:first-of-type {
  width: 100%;
}
.options table input[type=range] {
  width: 100%;
}

/*# sourceMappingURL=site.css.map*/