* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
@media (min-width: 0) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 18px;
  }
}
body {
  min-height: 100%;
  overflow-y: scroll;
  font-family: "IBM Plex Sans Condensed", Helvetica, Arial, sans-serif;
  background-color: #101010;
  color: #f8f8f8;
  line-height: 1.45;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-rows: min-content auto 0;
    grid-template-columns: auto 320px;
  }
}
@media (max-height: 480px) {
  body {
    margin-top: 0;
  }
}
body.fullscreen {
  overflow-y: initial;
}
a,
a:visited,
a:active {
  color: #76e1ef;
  text-decoration: none;
}
b {
  font-weight: bold;
}
hr {
  margin: 1rem 0;
}
ul {
  margin-left: 2rem;
}
li {
  margin: 1rem 0;
}
button:not([disabled]) {
  cursor: pointer;
}
.pageHeader {
  display: grid;
  align-items: center;
}
@media (min-width: 0) {
  .pageHeader {
    grid-template-columns: minmax(0, 1fr) auto;
    grid-template-rows: auto auto;
    padding-top: 0.6rem;
  }
}
@media (min-width: 1024px) {
  .pageHeader {
    grid-row: 1;
    grid-column: 1 / span 2;
    grid-template-columns: minmax(0, 1fr) auto 320px;
    grid-template-rows: auto;
    padding-top: 0;
  }
}
@media (max-height: 480px) {
  .pageHeader {
    padding-top: 0;
  }
}
.siteName {
  font-family: Audiowide, Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  margin: 0 0.6rem;
}
@media (min-width: 0) {
  .siteName {
    grid-column: 1;
  }
}
@media (min-width: 1024px) {
  .siteName {
    grid-column: 3;
    justify-self: center;
  }
}
@media (max-height: 480px) {
  .siteName {
    font-size: 24px;
  }
}
.siteName > a {
  color: #f8f8f8;
  text-decoration: underline;
}
.controls {
  font-size: 0;
  margin: 0 0.6rem;
  grid-row: 1;
  grid-column: 2;
}
.controls .btn {
  background-color: transparent;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
}
.controls .btn:hover {
  background-position-y: -96px;
}
.controls .btn[disabled] {
  color: #999;
  background-position-y: -48px;
}
.controls .btn-start {
  background: url(/img/media-buttons-48.png);
  background-position-x: -96px;
}
.controls .btn-pause {
  background: url(/img/media-buttons-48.png);
  display: none;
  background-position-x: 0;
}
.controls .btn-stop {
  background: url(/img/media-buttons-48.png);
  background-position-x: -48px;
}
.controls .btn-gear {
  background-image: url(/img/gear.svg);
  background-size: 48px 48px;
}
nav.menu {
  background: linear-gradient(#ececec, #c3c3c3);
  text-align: center;
  border: 1px solid #fff;
  box-shadow: 0 0 12px -1px #ccc;
  line-height: 1.3;
  margin: 0.6rem 0;
}
@media (min-width: 0) {
  nav.menu {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
}
@media (min-width: 1024px) {
  nav.menu {
    grid-row: 1;
    grid-column: 1;
    margin: 1rem 0;
  }
}
@media (max-height: 480px) {
  nav.menu {
    line-height: 1;
    margin: 0 0 0.6rem 0;
  }
}
nav.menu .btn {
  color: #101010;
  line-height: 2;
}
@media (min-width: 0) {
  nav.menu .btn {
    padding: 0.6rem 0.3rem;
    font-size: 1rem;
    font-weight: bold;
  }
}
@media (min-width: 480px) {
  nav.menu .btn {
    font-family: Audiowide, Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0.6rem;
  }
}
@media (min-width: 640px) {
  nav.menu .btn {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  nav.menu .btn {
    padding: 0.6rem;
  }
}
nav.menu .btn:hover {
  background: #f6f6f6;
  text-shadow: 0 0 3px #fff;
}
nav.menu .btn:active {
  background: #fff;
  box-shadow: 0 0 12px -1px #ddd;
}
nav.menu .btn.active {
  background: linear-gradient(#bec9ce, #f1f1f1);
  box-shadow: 0 1px 6px #444;
  color: #111;
  cursor: default;
}
.controls.disabled,
.menu.disabled,
.sidebar.disabled {
  opacity: 0;
  transition: opacity 0.4s;
}
.views {
  overflow: visible;
  overflow-x: hidden;
  flex: 1;
  display: flex;
}
@media (min-width: 1024px) {
  .views {
    grid-row: 2;
    grid-column: 1;
  }
}
.view {
  background: #101010;
  flex: 1;
  width: 100%;
}
@media (min-width: 0) {
  .view {
    padding: 0.6rem;
  }
}
@media (min-width: 720px) {
  .view {
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .view {
    overflow-y: auto;
  }
}
.view h2 {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 1rem;
  background: linear-gradient(#ececec, #c3c3c3);
  border: 1px solid #fff;
  box-shadow: 0 0 12px -1px #ccc;
  color: #101010;
  text-align: center;
  padding: 0 0.6rem;
}
.view.disabled {
  display: none !important;
}
.view.home {
  display: grid;
  grid-gap: 2rem;
}
@media (min-width: 0) {
  .view.home {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
  }
}
@media (min-width: 720px) {
  .view.home {
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}
.view.home .instructions {
  grid-row: 1;
  justify-self: center;
  font-size: 1.1em;
  border-spacing: 1rem;
}
@media (min-width: 0) {
  .view.home .instructions {
    grid-column: 1 / span 1;
  }
}
@media (min-width: 720px) {
  .view.home .instructions {
    grid-column: 1 / span 2;
  }
}
.view.home .instructions td {
  display: inline-block;
}
@media (min-width: 480px) {
  .view.home .instructions {
    border-spacing: 0;
  }
  .view.home .instructions td {
    padding: 0.6rem;
    display: table-cell;
  }
}
.view.home .instructions kbd {
  border: 1px solid #76e1ef;
}
.view.home .instructions kbd,
.view.home .instructions a {
  display: block;
  padding: 1px 0.6rem;
  text-align: center;
  cursor: pointer;
}
.view.home .tips p {
  margin: 1rem 0;
}
@media (min-width: 0) {
  .view.home .tips {
    grid-row: 2;
    grid-column: 1 / span 1;
  }
}
@media (min-width: 720px) {
  .view.home .tips {
    grid-row: 2;
    grid-column: 1 / span 1;
  }
}
@media (min-width: 0) {
  .view.home .story-previews {
    grid-row: 3;
    grid-column: 1 / span 1;
  }
}
@media (min-width: 720px) {
  .view.home .story-previews {
    grid-row: 2;
    grid-column: 2 / span 1;
  }
}
.view.home .story-previews .story {
  margin: 1rem 0;
}
.view.home .story-previews .title {
  font-size: 1rem;
  font-weight: bold;
}
.view.home .story-previews .byline {
  font-style: italic;
  color: #c2c2c2;
}
.view.home .story-previews .author {
  font-weight: bold;
}
.view.home .story-previews .more {
  font-size: 1.25rem;
  text-align: right;
}
.view.paste {
  display: flex;
  flex-direction: column;
}
.view.paste #pasteText {
  flex: 1;
  line-height: 1.5;
  background-color: #101010;
  color: #f8f8f8;
}
.view.stories .story {
  margin-bottom: 2rem;
  border-left: 2px solid #76e1ef;
  border-radius: 8px;
  padding-left: 1rem;
}
.view.stories .story .blurb,
.view.stories .story .byline {
  color: #c2c2c2;
  font-style: italic;
}
.view.stories .story .title {
  line-height: 1;
}
.view.stories .story .author {
  font-weight: bold;
}
.view.stories .story .byline {
  margin-top: 0;
  margin-left: 1rem;
}
.view.playing {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.view.playing .letter {
  flex: 1;
  font-weight: bold;
  color: #76e1ef;
  align-self: center;
  display: grid;
  align-items: center;
}
@media (min-width: 0) {
  .view.playing .letter {
    font-size: 30px;
  }
}
@media (min-width: 480px) {
  .view.playing .letter {
    font-size: 50px;
  }
}
@media (min-width: 640px) {
  .view.playing .letter {
    font-size: 70px;
  }
}
@media (min-width: 769px) {
  .view.playing .letter {
    font-size: 80px;
  }
}
@media (min-width: 1024px) {
  .view.playing .letter {
    font-size: 70px;
  }
}
@media (min-width: 1281px) {
  .view.playing .letter {
    font-size: 100px;
  }
}
@media (min-width: 1600px) {
  .view.playing .letter {
    font-size: 120px;
  }
}
@media (max-height: 480px) {
  .view.playing .letter {
    font-size: 50px;
  }
}
.view.playing .letter:empty::before {
  content: '\200b';
}
.view.playing .patternWrap {
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 1rem;
  width: 100%;
  font-size: 3px;
}
@media (min-width: 640px) {
  .view.playing .patternWrap {
    font-size: 4px;
  }
}
.view.playing .pattern {
  height: 4em;
  float: right;
}
.view.playing .pattern .element {
  border-radius: 2em;
  height: 4em;
  display: inline-block;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.view.playing .pattern .element.dit {
  width: 4em;
  background-color: #76e1ef;
}
.view.playing .pattern .element.dah {
  width: 12em;
  background-color: #76e1ef;
}
.view.playing .pattern .element.charSpace {
  width: 4em;
}
.view.playing .pattern .element.wordSpace {
  width: 6em;
}
.view.playing .outputBuffer {
  flex: 1;
  max-height: 250px;
  overflow-wrap: break-word;
  overflow-y: hidden;
  background: linear-gradient(#000, transparent);
  color: #c7bf4a;
  font-family: monospace;
  font-size: 1.5rem;
  letter-spacing: 3px;
  white-space: pre-wrap;
  word-break: break-word;
}
@media (min-width: 0) {
  .view.playing .outputBuffer {
    padding: 0.6rem;
  }
}
@media (min-width: 720px) {
  .view.playing .outputBuffer {
    padding: 0.6rem 1rem;
  }
}
@media (min-width: 1600px) {
  .view.playing .outputBuffer {
    font-size: 2rem;
  }
}
@media (min-width: 1920px) {
  .view.playing .outputBuffer {
    font-size: 2.3rem;
  }
}
.view.settings {
  display: grid;
  grid-template-rows: repeat(50, min-content);
}
.view.settings input[type=range] {
  width: 100%;
}
.view.settings input[type=range]::-moz-range-thumb {
  border: none;
  height: 1.75rem;
  width: 1.25rem;
  cursor: pointer;
}
@media (min-width: 0) {
  .view.settings {
    grid-template-columns: auto min-content;
  }
  .view.settings .name {
    font-weight: bold;
    grid-column: 1;
    align-self: center;
  }
  .view.settings .output {
    grid-column: 2;
    padding: 0 0.6rem;
    border-left: 5px solid #404040;
    font-family: monospace;
    color: #76e1ef;
    font-size: larger;
    text-align: center;
    align-self: center;
  }
  .view.settings .input,
  .view.settings .checkboxes {
    grid-column: 1 / span 2;
    padding: 0.6rem 0.6rem;
    margin-bottom: 1rem;
    align-self: center;
  }
  .view.settings .reset {
    padding: 1rem 0;
    grid-column: 1 / span 2;
    display: grid;
    justify-items: right;
  }
  .view.settings #resetSettings {
    align-self: center;
    width: 60%;
    padding: 0.6rem;
  }
}
@media (min-width: 720px) {
  .view.settings {
    grid-template-columns: min-content max-content auto;
  }
  .view.settings .name {
    padding-right: 0.6rem;
    text-align: right;
  }
  .view.settings .output {
    grid-column: 2;
    padding: 0.6rem;
    border-left: 5px solid #404040;
  }
  .view.settings .input,
  .view.settings .checkboxes {
    grid-column: 3;
    padding: 0.6rem 0.6rem;
    border-left: 5px solid #404040;
    margin-bottom: 0;
  }
  .view.settings .reset {
    grid-column: 3;
  }
}
.sidebar {
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .sidebar {
    grid-row: 2;
    grid-column: 2;
  }
}
.sidebar .social {
  margin: 1rem 0;
}
.sidebar .sidebarContent {
  margin: 1rem 0;
  flex: 1;
}
.sidebar .sidebarContent .ad {
  display: inline-block;
  width: 300px;
  height: 250px;
  background: #101010;
}
.sidebar .info {
  margin: 1rem 0;
}
.sidebar .info a {
  color: #a8a8a8;
  font-size: 1rem;
}
.btn-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: 0;
  padding: 0.6rem;
  font-weight: bold;
  background: transparent;
  color: #f8f8f8;
  outline: none;
}
.btn-fullscreen.disabled {
  display: none;
}
