* {
  box-sizing: border-box;
  font-weight: normal;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Actor", Helvetica, Arial, sans-serif;
  background-color: transparent;
  line-height: 1.45;
  display: flex;
  flex-direction: column;
}
@media (min-width: 0) {
  body {
    font-size: 17px;
  }
}
@media (min-width: 640px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 17px;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 1920px) {
  body {
    font-size: 20px;
  }
}
.flasher {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  z-index: -1;
}
body.toneOn .flasher {
  background-color: #404860 !important;
}
button {
  cursor: pointer;
}
header {
  flex-shrink: 0;
  line-height: 2;
  margin: 1.2rem;
}
@media (min-width: 0) {
  header {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  header {
    margin-top: 1.2rem;
    margin-right: 0;
  }
}
header .siteName {
  font-family: Audiowide;
  font-size: 40px;
  color: #e0e0e0;
  text-align: center;
  margin: 0;
}
header .menu-top {
  flex: 1;
  display: flex;
  justify-content: center;
}
header .menu-top .btn {
  flex: 1;
  max-width: 768px;
  font-size: 1.8rem;
  font-weight: bold;
  box-shadow: inset 0 0 2px 0.4px #333;
  border-radius: 4px;
  border-color: #bbb;
}
@media (min-width: 0) {
  header .menu-top .btn {
    padding: 0.6rem;
  }
}
@media (min-width: 1024px) {
  header .menu-top .btn {
    padding: 1rem;
  }
}
header .menu-top .btn:hover {
  border-color: #eee;
}
header a {
  color: #e0e0e0;
}
#pasteText {
  flex: 1;
  margin-bottom: 2rem;
}
.columns {
  flex: 1;
  min-height: 270px;
  overflow-y: auto;
}
.instructions {
  margin: 2rem auto;
}
@media (min-width: 0) {
  .instructions {
    border-spacing: 1rem;
  }
  .instructions td {
    display: inline-block;
  }
}
@media (min-width: 480px) {
  .instructions {
    border-spacing: 0;
  }
  .instructions td {
    display: table-cell;
  }
}
.instructions td {
  padding: 0.5rem;
}
.instructions a {
  text-decoration: none;
  color: #2a2a2a;
}
.instructions kbd,
.instructions a {
  display: block;
  padding: 1px 0.5rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  font: inherit;
  cursor: pointer;
}
@media (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row-reverse;
  }
  header .siteName {
    width: 340px;
  }
  .columns {
    display: flex;
    margin: 0 0 1.2rem 1.2rem;
  }
}
.views {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .views {
    height: 100%;
  }
}
.view {
  position: relative;
  flex: 1;
  width: 100%;
  background: #f1f1f1;
}
.view article {
  margin: 2rem auto 0;
  flex: 1;
  width: 95%;
}
@media (min-width: 1280px) {
  .view article {
    max-width: 80%;
  }
}
@media (min-width: 1600px) {
  .view article {
    max-width: 65%;
  }
}
.view article h2 {
  margin-top: 0;
}
@media (min-width: 1024px) {
  .view {
    overflow-y: auto;
  }
}
.view.disabled {
  display: none !important;
}
.view.paste {
  display: flex;
  flex-direction: column;
}
.view.paste article {
  display: flex;
  flex-direction: column;
}
.view.stories .story {
  margin-bottom: 2rem;
}
.view.stories .story a {
  text-decoration: none;
}
.view.stories .story .title {
  margin: 0;
  line-height: 1;
}
.view.stories .story .author {
  font-weight: bold;
}
.view.stories .story p {
  margin-top: 0;
  margin-left: 1.2rem;
}
.view.playing {
  display: flex;
  flex-direction: column;
}
.view.playing article {
  display: flex;
  flex-direction: column;
}
.letter {
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
}
@media (min-width: 0) {
  .letter {
    font-size: 30px;
  }
}
@media (min-width: 480px) {
  .letter {
    font-size: 50px;
  }
}
@media (min-width: 640px) {
  .letter {
    font-size: 70px;
  }
}
@media (min-width: 769px) {
  .letter {
    font-size: 80px;
  }
}
@media (min-width: 1024px) {
  .letter {
    font-size: 70px;
  }
}
@media (min-width: 1281px) {
  .letter {
    font-size: 100px;
  }
}
@media (min-width: 1600px) {
  .letter {
    font-size: 140px;
  }
}
.sidebar {
  flex-shrink: 0;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media (min-width: 0) {
  .sidebar {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .sidebar {
    width: 340px;
  }
}
.sidebar .social {
  margin-top: 1.2rem;
  margin-bottom: 40px;
  height: 28px;
}
.sidebar .sidebarContent {
  padding: 20px 0;
  flex: 1;
}
.sidebar .sidebarContent .ad {
  display: inline-block;
  width: 300px;
  height: 250px;
  background: #2a2a2a;
}
.sidebar .info {
  margin-top: 1.2rem;
}
.sidebar .info a {
  color: #a8a8a8;
  font-size: 1rem;
}
.controls {
  z-index: 1;
}
nav.controls {
  background: linear-gradient(#f1f1f1, #dedede);
  padding: 0.25rem 0;
  text-align: center;
  border: 1px solid #fff;
  box-shadow: 0 0 12px -1px #fff;
  border-radius: 7px;
  line-height: 1.2;
}
@media (min-width: 0) {
  nav.controls {
    margin: 0 0.6rem 1.2rem;
  }
}
@media (min-width: 1024px) {
  nav.controls {
    margin: 0 340px 1.2rem 1.2rem;
    padding: 0;
  }
}
nav.controls:hover {
  box-shadow: 0 0 11px 1px #fff;
}
nav.controls .btn {
  text-decoration: none;
}
@media (min-width: 0) {
  nav.controls .btn {
    padding: 0.2rem;
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  nav.controls .btn {
    padding: 0.6rem;
  }
}
@media (min-width: 640px) {
  nav.controls .btn {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  nav.controls .btn {
    padding: 0.5rem;
  }
}
nav.controls .btn:hover {
  background: #e5e5e5;
  text-shadow: 0 0 3px #fff;
}
nav.controls .btn.active {
  background: linear-gradient(#d1d7da, #f1f1f1);
  box-shadow: 0 1px 6px #444;
  color: #111;
}
.btn {
  color: #2a2a2a;
}
.btn-start {
  background: linear-gradient(to bottom, #54b900 0%, #376f0a 100%);
  color: #fff;
}
.btn-start:hover {
  background-color: #54b900;
}
.btn-pause {
  background-color: #128cc7;
  color: #fff;
  margin-right: 0.6rem;
}
.btn-pause:hover {
  background: #37a9e0;
}
.btn-stop {
  background-color: #b12d2d;
  color: #fff;
  margin-left: 0.6rem;
}
.btn-stop:hover {
  background-color: #d03535;
}
.home article h1 {
  margin: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
}
.btn[disabled] {
  color: #999;
  display: none;
}
hr {
  border-color: #f00;
  border-width: 2px;
  margin: 1rem 0;
}
.btn-fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  border: 0;
  margin: 0.5rem;
  padding: 0;
  width: 80px;
  height: 45px;
  background-position-y: 45px;
  background-color: #a0a0a0;
  background-image: url(/img/fullscreen.png);
}
.btn-fullscreen:hover {
  background-position-y: 0;
  background-color: #fff;
}
.btn-fullscreen.disabled {
  display: none;
}
.outputBuffer {
  min-height: 250px;
  max-height: 1000px;
  font-family: monospace;
  background: linear-gradient(#f1f1f1, #dedede);
  color: #a0793a;
  flex: 1;
  overflow-wrap: break-word;
  overflow-y: hidden;
  padding: 0.5rem 1rem;
  white-space: pre-wrap;
  font-size: 1.8rem;
  letter-spacing: 3px;
  margin-top: 1.2rem;
  word-break: break-all;
}
.options table {
  width: 100%;
  margin-bottom: 2rem;
}
.options table th {
  text-align: right;
  padding: 0.5rem;
}
.options table td {
  padding: 0.5rem 0.5rem;
  border-left: 5px solid #e0e0e0;
}
@media (max-width: 479px) {
  .options table th,
  .options table td {
    display: block;
    text-align: left;
    padding: 0 0 0 0.6rem;
  }
  .options table td:last-of-type {
    margin-bottom: 2rem;
  }
}
.options table td:last-of-type {
  width: 100%;
}
.options table td:first-of-type {
  color: #1ba09c;
  font-size: larger;
  text-align: center;
}
.options table input[type=range] {
  width: 100%;
}

/*# sourceMappingURL=site.css.map*/