@borderThickness: 10px;
@gradient: linear-gradient(#f1f1f1, #999);
@flashColor: #227;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    line-height: 1.45;
    display: flex;
    flex-direction: column;

    @media (min-width: 0) { font-size: 15px; }
    @media (min-width: 640px) { font-size: 16px; }
    @media (min-width: 768px) { font-size: 15px; }
    @media (min-width: 1024px) { font-size: 16px; }
    @media (min-width: 1280px) { font-size: 17px; }
    @media (min-width: 1600px) { font-size: 18px; }
    @media (min-width: 1920px) { font-size: 19px; }
}

body > header.header-top {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
    }
    border-bottom: 10px solid #000;

    .siteName {
        background: #000;
        color: #e0e0e0;
        text-align: center;
        margin: 0;

        @media (min-width: 768px) {
            width: 320px;
        }
    }

    .menu-top {
        flex: 1;
        background: @gradient;
        display: flex;

        .btn {
            flex: 1;
            margin: 0.5rem;

            &:not(:first-child){
                margin-left: 0;
            }
        }
    }
}

#pasteText {
    flex: 1;
}

.columns {
    @media (min-width: 768px) {
        display: flex;
    }
    height: 100%;
}

.rows {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        width: 320px;
        border-left: @borderThickness solid #000;
        overflow: auto;
    }

    .sidebarContent {
        flex: 1;
        padding: 10px;
    }

    .control {
        margin-bottom: 2rem;

        input[type=range] {
            width: 100%;
            margin: 5px 0;
        }
    }
}

body.toneOn {
    .sidebar {
        border-color: @flashColor;
    }

    .controls {
        border-color: @flashColor;
    }

    > header.header-top {
        border-color: @flashColor;

        .siteName {
            background-color: @flashColor;
        }
    }
}
    
.view {
    position: relative;
    flex: 1;
    padding: 1rem;
    overflow: auto;
    width: 100%;
    background-color: #f1f1f1;
}

.view.disabled {
    display: none !important;
}

.view.paste {
    display: flex;
}

.view.stories {
    .story {
        margin-bottom: 1rem;

        .author {
            font-weight: bold;
        }

        .title {
            margin-left: 1rem;
        }
    }
}

.view.playing {
    display: flex;
}

.letter {
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    display: flex;
    @media (min-width: 0) { font-size: 50px; }
    @media (min-width: 640px) { font-size: 100px; }
    @media (min-width: 768px) { font-size: 50px; }
    @media (min-width: 1024px) { font-size: 100px; }
    @media (min-width: 1600px) { font-size: 150px; }
}

.controls {
    display: flex;
    background: @gradient;
    border-top: @borderThickness solid #000;
}

.controls .btn {
    flex: 1;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    background: linear-gradient(#dddddd, #f4f4f4);
    padding: 0.5rem;

    margin: 0.5rem;
    &:not(:first-child) { margin-left: 0; }
}

.main article h1 {
    margin: 0 0 1rem 0;
}

.btn[disabled] {
    color: #999;
    display: none;
}

kbd {
    border: 1px solid #a0a0a0;
    padding: 1px 4px;
    border-radius: 4px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    font: inherit;
}

kbd.disabled {
    color: #999;
}

hr {
    border-color: #f00;
    border-width: 2px;
    margin: 1rem 0;
}

.btn-fullscreen {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    border: 0;
    margin: 0.5rem;
    padding: 0;
    width: 80px;
    height: 45px;
    background-position-y: 45px;
    background-color: #a0a0a0;
    background-image: url(/img/fullscreen.png);
}

.btn-fullscreen:hover {
    background-position-y: 0;
    background-color: #fff;
}

.btn-fullscreen.disabled {
    display: none;
}

.outputBuffer {
    font-family: monospace;
    background: #e1e1e1;
    flex: 1;
    overflow-wrap: break-word;
    overflow-y: hidden;
    width: 0;
    padding: 0.5rem;
    white-space: pre-wrap;
}
