@borderThickness: 10px;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    line-height: 1.45;
    display: flex;
    flex-direction: column;
}

body > header.header-top {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 10px solid #000;

    .siteName {
        background: #000;
        color: #e0e0e0;
        text-align: center;
        margin: 0;
        width: 320px;
    }

    .menu-top {
        flex: 1;
        background: linear-gradient(#f1f1f1, #999);
        display: flex;

        .btn-paste {
            flex: 1;
            margin: 0.5rem;
        }
    }
}

#pasteText {
    width: 100%;
    margin: 1rem;
}

.columns {
    display: flex;
    height: 100%;
}

.rows {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-left: @borderThickness solid #000;

    .sidebarContent {
        flex: 1;
        padding: 10px;
    }

    .control {
        margin-bottom: 2rem;

        input[type=range] {
            width: 100%;
            margin: 5px 0;
        }
    }
}

.view {
    flex: 1;
    display: flex;
}

.letter {
    justify-content: center;
    align-items: center;
    font-size: 150px;
    font-weight: bold;
}

.controls {
    display: flex;
    border-top: @borderThickness solid #000;
    border-left: @borderThickness solid #000;
}

.controls .btn {
    flex: 1;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    background: linear-gradient(#dddddd, #f4f4f4);
}

.view.disabled {
    display: none;
}

.main article {
    margin: 1rem;
}

.view {
    overflow: auto;
}

.btn[disabled] {
    color: #999;
}

kbd {
    border: 1px solid #a0a0a0;
    padding: 1px 4px;
    border-radius: 4px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    font: inherit;
}

kbd.disabled {
    color: #999;
}

hr {
    border-color: #f00;
    border-width: 2px;
}
