@gradient: linear-gradient(#f1f1f1, #dedede);
@inverseGradient: linear-gradient(#d1d7da, #f1f1f1);
@flashColor: #404860;
@black: #2a2a2a;

* {
    box-sizing: border-box;
    font-weight: normal;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Actor", Helvetica, Arial, sans-serif;
    background-color: transparent;
    line-height: 1.45;
    display: flex;
    flex-direction: column;

    @media (min-width: 0) { font-size: 17px; }
    @media (min-width: 640px) { font-size: 18px; }
    @media (min-width: 768px) { font-size: 19px; }
    @media (min-width: 1024px) { font-size: 17px; }
    @media (min-width: 1280px) { font-size: 18px; }
    @media (min-width: 1600px) { font-size: 19px; }
    @media (min-width: 1920px) { font-size: 20px; }
}

.flasher {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: @black;
    z-index: -1;
}

body.toneOn {
    .flasher {
        background-color: @flashColor !important;
    }
}

button {
    cursor: pointer;
}

header {
    flex-shrink: 0;
    line-height: 2;
    margin: 1.2rem;

    @media (min-width: 0) {
        margin-top: 0;
    }
    @media (min-width: 1024px) {
        margin-top: 1.2rem;
        margin-right: 0;
    }

    .siteName {
        font-family: Audiowide;
        font-size: 40px;
        color: #e0e0e0;
        text-align: center;
        margin: 0;
    }

    .menu-top {
        flex: 1;
        display: flex;
        justify-content: center;

        .btn {
            flex: 1;
            max-width: 768px;
            font-size: 1.8rem;
            font-weight: bold;
            box-shadow: inset 0 0 2px 0.4px #333;
            border-radius: 4px;
            border-color: #bbb;

            @media (min-width: 0) {
                padding: 0.6rem;
            }
            @media (min-width: 1024px) {
                padding: 1rem;
            }

            &:hover {
                border-color: #eee;
            }
        }
    }

    a {
        color: #e0e0e0;
    }
}

#pasteText {
    flex: 1;
    margin-bottom: 2rem;
}

.columns {
    flex: 1;
    min-height: 270px;
    overflow-y: auto;
}

.instructions {
    margin: 2rem auto;

    @media (min-width: 0) {
        border-spacing: 1rem;
        td { display: inline-block; }
    }
    @media (min-width: 480px) {
        border-spacing: 0;
        td { display: table-cell; }
    }

    td {
        padding: 0.5rem;
    }

    a {
        text-decoration: none;
        color: @black;
    }

    kbd, a {
        display: block;
        padding: 1px 0.5rem;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        font: inherit;
        cursor: pointer;
    }
}
    
@media (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row-reverse;

        .siteName {
            width: 340px;
        }
    }

    .columns {
        display: flex;
        margin: 0 0 1.2rem 1.2rem;

    }
}
    
.views {
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        height: 100%;
    }
}

.view {
    position: relative;
    flex: 1;
    width: 100%;
    background: #f1f1f1;

    article {
        margin: 2rem auto 0;
        flex: 1;
        width: 95%;

        @media (min-width: 1280px) {
            max-width: 80%;
        }

        @media (min-width: 1600px) {
            max-width: 65%;
        }

        h2 {
            margin-top: 0;
        }
    }
}

.view {
    @media (min-width: 1024px) {
        overflow-y: auto;
    }
}

.view.disabled {
    display: none !important;
}

.view.paste {
    display: flex;
    flex-direction: column;

    article {
        display: flex;
        flex-direction: column;
    }
}

.view.stories {
    .story {
        margin-bottom: 2rem;

        a {
            text-decoration: none;
        }

        .title {
            margin: 0;
            line-height: 1;
        }

        .author {
            font-weight: bold;
        }

        p {
            margin-top: 0;
            margin-left: 1.2rem;
        }
    }
}

.view.playing {
    display: flex;
    flex-direction: column;

    article {
        display: flex;
        flex-direction: column;
    }
}

.letter {
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    display: flex;
    @media (min-width: 0) { font-size: 30px; }
    @media (min-width: 480px) { font-size: 50px; }
    @media (min-width: 640px) { font-size: 70px; }
    @media (min-width: 769px) { font-size: 80px; }
    @media (min-width: 1024px) { font-size: 70px; }
    @media (min-width: 1281px) { font-size: 100px; }
    @media (min-width: 1600px) { font-size: 140px; }
}

.sidebar {
    flex-shrink: 0;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;

    @media (min-width: 0) {
        width: 100%;
    }
    @media (min-width: 1024px) {
        width: 340px;
    }

    .social {
        margin-top: 1.2rem;
        margin-bottom: 40px;
        height: 28px;
    }

    .sidebarContent {
        padding: 20px 0;
        flex: 1;

        .ad {
            display: inline-block;
            width: 300px;
            height: 250px;
            background: @black;
        }
    }

    .info {
        margin-top: 1.2rem;

        a {
            color: #a8a8a8;
            font-size: 1rem;
        }
    }
}

.controls {
    z-index: 1;
}

nav.controls {
    background: @gradient;
    padding: 0.25rem 0;
    text-align: center;
    border: 1px solid #fff;
    box-shadow: 0 0 12px -1px #fff;
    border-radius: 7px;
    line-height: 1.2;

    @media (min-width: 0) {
        margin: 0 0.6rem 1.2rem;
    }

    @media (min-width: 480px) {
    }

    @media (min-width: 1024px) {
        margin: 0 340px 1.2rem 1.2rem;
        padding: 0;
    }

    &:hover {
        box-shadow: 0 0 11px 1px #fff;
    }
}

nav.controls .btn {
    text-decoration: none;

    @media (min-width: 0) {
        padding: 0.2rem;
        font-size: 1rem;
    }
    @media (min-width: 480px) {
        padding: 0.6rem;
    }
    @media (min-width: 640px) {
        font-size: 1.2rem;
    }
    @media (min-width: 1024px) {
        padding: 0.5rem;
    }

    &:hover {
        background: #e5e5e5;
        text-shadow: 0 0 3px #fff;
    }

    &.active {
        background: @inverseGradient;
        box-shadow: 0 1px 6px #444;
        color: #111;
    }
}

.btn {
    color: @black;
}

.btn-start {
    background: linear-gradient(to bottom, #54b900 0%, #376f0a 100%);
    color: #fff;

    &:hover {
        background-color: #54b900;
    }
}

.btn-pause {
    background-color: #128cc7;
    color: #fff;
    margin-right: 0.6rem;

    &:hover {
        background: #37a9e0;
    }
}

.btn-stop {
    background-color: #b12d2d;
    color: #fff;
    margin-left: 0.6rem;

    &:hover {
        background-color: #d03535;
    }
}

.home article h1 {
    margin: 2rem 0;
    text-align: center;
    font-size: 2.5rem;
}

.btn[disabled] {
    color: #999;
    display: none;
}

hr {
    border-color: #f00;
    border-width: 2px;
    margin: 1rem 0;
}

.btn-fullscreen {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    border: 0;
    margin: 0.5rem;
    padding: 0;
    width: 80px;
    height: 45px;
    background-position-y: 45px;
    background-color: #a0a0a0;
    background-image: url(/img/fullscreen.png);
}

.btn-fullscreen:hover {
    background-position-y: 0;
    background-color: #fff;
}

.btn-fullscreen.disabled {
    display: none;
}

.outputBuffer {
    min-height: 250px;
    max-height: 1000px;
    font-family: monospace;
    background: linear-gradient(#f1f1f1, #dedede);
    color: #a0793a;
    flex: 1;
    overflow-wrap: break-word;
    overflow-y: hidden;
    padding: 0.5rem 1rem;
    white-space: pre-wrap;
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin-top: 1.2rem;
    word-break: break-all;
}


.options table {
    width: 100%;
    margin-bottom: 2rem;

    th {
        text-align: right;
        padding: 0.5rem;
    }

    td {
        padding: 0.5rem 0.5rem;
        border-left: 5px solid #e0e0e0;
    }

    @media (max-width: 479px) {
        th, td {
            display: block;
            text-align: left;
            padding: 0 0 0 0.6rem;
        }

        td:last-of-type {
            margin-bottom: 2rem;
        }
    }

    td:last-of-type {
        width: 100%;
    }

    td:first-of-type {
        color: #1ba09c;
        font-size: larger;
        text-align: center;
    }

    input[type=range] {
        width: 100%;
    }
}
